<div class="footer">
  <div
    [id]="i"
    (click)="changePageNumber($event)"
    *ngFor="let icon of iconArr; let i = index">
    <fa-icon icon="{{ icon }}">
    </fa-icon>
  </div>
  <div>
    <select (change)="select($event)" [(ngModel)]="itemsPerPage">
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
    </select>
  </div>
  items per page
  <div class="showing-items">Showing items 1 - {{ itemsPerPage }}</div>
</div>
