.footer {
  background-color: #f1f1f1;
  padding: 1.8em;
  margin: 0.3em 0;
  display: flex;
  font-size: 0.8em;

  div {
    padding: 0 1em;
    color: #686868;

    &:not(.page-number) {
      cursor: pointer;
    }
  }
}

select {
  outline: none;
  height: 2em;
}

.showing-items {
  margin-left: auto;
}
