.search-bar {
  background-color: #f1f1f1;
  padding: 0.3em;
  margin: 0.3em 0;
  display: flex;

  input {
    margin-left: auto;
    width: 15em;
    height: 3em;
    border: 1px solid #dcdcdc;
    padding: 5px;
    color: #707070;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}


button {
  cursor: pointer;
}