<div class="search-bar">
  <input
    [(ngModel)]="searchValue"
    (keyup.enter)="sendSearch()"
    placeholder="Search..."
    type="search"
    id="table-search"
    aria-label="search through QPL table content"/>
  <button (click)="sendSearch()">
    <fa-icon icon="search"></fa-icon>
  </button>
</div>
