<header>
  <h2>{{ title }}</h2>
</header>

<app-searchbar (sendSearchValue)="sendSearch($event)">
</app-searchbar>

<app-table [searchValue]="searchValue" [offset]="offset" [pageSize]="pageSize">
</app-table>


<app-footer (itemsPerPageChange)="change($event)" (changePage)="changePage($event)">
</app-footer>

<router-outlet>
</router-outlet>
