table {
  border-collapse: collapse;
  font-size: 0.7em;
}

thead {
  background: #f1f1f1;
  color: #686868;
}


th,
td {
  text-align: left;
  padding-bottom: 1.5em;
  padding: 0 1.5em 1.5em 1.5em;
}

.results {
  text-align: center;
  width: 100%;
  padding: 3em;
  color: #686868;
}