<table>
  <thead>
    <tr>
      <th *ngFor="let headers of headerKeys">{{ headers }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rows of data">
      <td *ngFor="let values of headerValues">
        {{ handleValues(rows[values]) }}
      </td>
    </tr>
  </tbody>
</table>
<div class="results" *ngIf="!resultsFound">
  No Results Found
</div>
